<nav class="navbar navbar-toggleable-md navbar-light">
  <span class="navbar-brand login-style">
    <img src="./assets/ibm.png" height="24" class="d-inline-block align-top" alt="">
    {{squad}} Squad - NPS & CSAT
  </span>
  <a *ngIf="!is_logged" class="navbar-text login-style" href="#" (click)="showLoginModal()">
      Log in
  </a>
  <a *ngIf="is_logged" class="navbar-text login-style" href="/" (click)="logOut()">
      Log out
  </a>
</nav>
<div class="div-metrics div-top">
  <metric
    id="csat"
    [metric]="csat"
    (onSendSurvey)="onSendSrvy($event)"
    (reloadSurvey)="reloadSurvey($event, 'csat')">
  </metric>
  <div *ngIf="reload_csat">
    Your feedback is important to improve our team, please rate our work and share your thoughts with us<br>
    click to reopen this survey:
    <a name="csat" class="nav-link" (click)="showMetric(true, false)" href="#">CSAT</a>
  </div>
  <div *ngIf="csat_sent">
    <h2 class="sent">Survey sent</h2>
    Thanks for your feedback!
  </div>
</div>
<div class="div-metrics div-bottom">
  <metric
    id="nps"
    [metric]="nps"
    (onSendSurvey)="onSendSrvy($event)"
    (reloadSurvey)="reloadSurvey($event, 'nps')">
  </metric>
  <div *ngIf="reload_nps">
    Your feedback is important to improve our team, please rate our work and share your thoughts with us<br>
    click to reopen this survey:
    <a name="nps" class="nav-link" (click)="showMetric(false, true)" href="#">NPS</a>
  </div>
  <div *ngIf="nps_sent">
    <h2 class="sent">Survey sent</h2>
    Thanks for your feedback!
  </div>
</div>
<div *ngIf="is_logged" class="container">
  <br>
  <h3>Metrics Summary</h3>
  <hr>
  <form [formGroup]="myForm" novalidate>
    <div class="form-group row">
      <label for="daterng" class="col-2 col-form-label"><h5>Date range:</h5></label>
      <div class="col-3">
        <my-date-range-picker
          id="daterng"
          name="mydaterange"
          [options]="myDateRangePickerOptions"
          formControlName="myDateRange"
          (dateRangeChanged)="onDateRangeChanged($event)">
        </my-date-range-picker>
      </div>
      <label for="slciterat" class="col-1 col-form-label"><h5>Iteration:</h5></label>
      <div class="col-1">
        <select class="custom-select" id="slciterat" formControlName="myItSelector" (change)="OnItSelected($event.target.value)">
          <option value="-">-</option>
          <option *ngFor='let iteration of IterationsArr' [value]="IterationsArr.indexOf(iteration)"> {{iteration[0]}} </option>
        </select>
      </div>
      <div *ngIf="npstotal_shown" class="col-5">
        <label for="npsv" class="col-2 col-form-label"><h5>NPS: </h5></label>
        <strong title="NPS(detractors 1-6, pasives 7-8, promoters 9-10) is calculated by subtracting detractors(D%) from promoters(P%). Min posible result -100% Max posible result 100%" data-toggle="tooltip" data-placement="right" data-trigger="hover">
          <span [ngClass]="netProScore > 0 ? 'text-success': 'text-danger'" id="npsv">{{netProScore}}%</span>
        </strong>
      </div>
      <div *ngIf="!npstotal_shown" class="col-5">
        <span id="npsv">Date range is empty or provided range has no NPS results</span>
      </div>
    </div>
  </form>
  <hr>
  <ng2-smart-table [source]="metrics" [settings]="settings">
  </ng2-smart-table>
</div>
<div class="container">
  <div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          &emsp;<div class="form-btn exit-btn" data-dismiss="modal" (click)="loginForm.reset()">&times;</div>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]="loginForm">
            <div class="form-group">
              <label for="usrname">Username</label>
              <input #input type="text" class="form-control" placeholder="Enter username or email" name="userCtrl" formControlName="userCtrl">
            </div>
            <div class="form-group">
              <label for="psw">Password</label>
              <input type="password" class="form-control" placeholder="Enter password" name="passCtrl" formControlName="passCtrl">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="form-btn login-btn" (click)="authLogin()">Login</div>
          <div class="form-btn cancel-btn" data-dismiss="modal" (click)="loginForm.reset()">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
